body {
    background-color: #FBE8A6;
    font-family: "Pangolin", cursive;
    color: #05386B;
    font-weight: bold;
    
    }
    
    #go-button, #submit {
        font-family: "Pangolin", cursive;
        background-color: #c4dfe6;
        color: #003b46;
        cursor: pointer;
    }
    
    
    
    #mul-sec, #mul-sec1, #mul-sec2, #addition-section {
        text-align: center;
    }
    
    #answer {
        font-family: "Pangolin", cursive;
    }
    
    #copyright {
        text-align: center;
        margin-top: 200px;
    }
    
    #division-copyright {
        text-align: center;
        margin-top: 160px;
    }
    
    #test {
        font-size: 40px;
    }
    
    h1, h2, p, h3 {
        background-color: #F4976C;
        border-radius: 10px;
    }
    
    #title {
        text-align: center;
    }
    
    .sections {
        text-align: center;
    }
    
    .addition-level {
        margin-right: 50px;
        font-size: 40px;
    }
    
    #addition-home-section {
        text-align: center;
    }
    
    .link {
        margin-right: 50px;
        display: inline;
        background-color: white;
    }
    
    .link-section {
        margin-right: 50px;
        text-align: center;
    }
    
    .section {
    margin-right: 30px;
    }
    
    #math-img {
        height: 500px;
        width: 850px;
        border-radius: 20px;
    }

    @media only screen and (max-width: 500px) and (orientation: portrait) {
        #math-img {
            height: 250px;
            width: 350px;
            border-radius: 20px;
        }  

        #go-button, #submit {
            font-size: 20px;
        }
      } 

      @media only screen and (min-width: 800px) and (orientation: portrait) {
        #math-img {
            height: 40%;
            width: 80%;
        }

        #go-button, #submit {
            font-size: 20px;
        }
      }

    